.Create_warpper1{

}
.Create_warpper1_lable{
    color: #002B8B;
    font-family: "Poppins", serif;
    font-size: 18px;
    letter-spacing: -0.4px;
    padding: 14px 0px 0px 0px;
    font-weight: 500;
}

.pump_Master_warpper {
    width: 100%;
    background: #002B8B;
    padding: 5px;
    border-radius: 5px;
    margin-top: 30px;
    text-align: center;
    color: #fff;
    font-family: "Poppins", serif;
    font-size: 20px;
}

.Create_main_warpper{
    width: 100%;
    float: left;
    background: #fff;
    padding: 24px;
    box-shadow: 1px 1px 1px 1px #cccccc78;
    border-radius: 5px;
    margin-top: 14px;
}
.Create_main_warpper_Employee1{
    width: 28%;
    float: left;
    margin-right: 40px;
    /* background-color: #FFA250; */
}

.txt{
    background-color: #FFA250;
    padding: 8px;
    color: white;
}

.Create_data_input_text {
    width: 100%;
    height: 40px !important;
    border: 0px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 1px 1px #cccccc78;
    font-family: "Poppins", serif;
    font-size: 15px;
    padding-left: 9px;
    outline: none;
    margin-top: 7px;
}
.AlternativeCreate{
    margin-bottom: 40px;
    margin-top: 0px;
    width: 100%;
    float: left;
}
.upload_Create_data_input_text {
    width: 100%;
    height: 40px !important;
    border-radius: 5px;
    box-shadow: unset;
    font-family: "Poppins", serif;
    font-size: 14px;
    padding-left: 9px;
    outline: none;
    margin-top: 7px;
    padding-top: 7px;
    background: #FFA250;
    border: 0px;
    color: #fff;
}
.Create_data_input_text_text{
    height: 150px !important;
    font-family: "Poppins", serif;
    font-size: 15px;
    padding-left: 9px;
    width: 100%;
    border: 1px solid #eaeaea;
    border-radius: 5px;
}
.submitsave_warpper_panle1 {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 40px;
}